body {
  margin: 0;
}
body:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 48%;
  height: 100%;
  background-image: url("../img/delivery-of-goods.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -2;
  border-bottom-left-radius: 100px;
}
body:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 48%;
  height: 100%;
  background-color: rgba(225, 225, 225, 0.8);
  z-index: -1;
  border-bottom-left-radius: 100px;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.button {
  background-color: rgb(27, 95, 193);
  color: rgb(255, 255, 255);
  padding: 15px 25px;
  border-radius: 8px;
  text-decoration: none;
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 30px;
}

.button-accent {
  color: rgb(255, 184, 0);
  padding: 13px 25px;
  border-radius: 8px;
  text-decoration: none;
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 30px;
  border: 1px solid rgb(255, 184, 0);
}

.header {
  display: flex;
  padding-top: 20px;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
  height: 5vh;
}
.header .header-logo {
  flex: 1;
}
.header .header-logo .logo {
  display: block;
  width: 161px;
  height: 40px;
  background: rgb(196, 196, 196);
}
.header .header-menu {
  flex: 2;
}
.header .header-menu .menu {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
}
.header .header-menu .menu .menu-item {
  margin-right: 45px;
}
.header .header-menu .menu .menu-item a {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: rgb(97, 103, 119);
}
@media (min-width: 0px) and (max-width: 767px) {
  .header .header-menu .menu .menu-item a {
    font-size: 14px;
    line-height: 26px;
  }
}
.header .header-menu .menu .menu-item.active a {
  color: rgb(12, 18, 45);
}
.header .header-button {
  text-align: right;
}
.header .burger-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: none;
  padding-top: 20px;
  z-index: 10;
}
.header .burger-menu .burger-icon {
  width: 100%;
  height: 4px;
  background-color: rgb(12, 18, 45);
  position: relative;
  transition: all 0.3s ease;
}
.header .burger-menu .burger-icon:before,
.header .burger-menu .burger-icon:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: rgb(12, 18, 45);
  transition: all 0.3s ease;
}
.header .burger-menu .burger-icon:before {
  top: -10px;
}
.header .burger-menu .burger-icon:after {
  bottom: -10px;
}
.header .burger-menu.active .burger-icon {
  background-color: transparent;
}
.header .burger-menu.active .burger-icon::before {
  top: 0;
  transform: rotate(45deg);
}
.header .burger-menu.active .burger-icon::after {
  bottom: 0;
  transform: rotate(-45deg);
}
.header .mobile-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 9;
  justify-content: center;
}
.header .mobile-menu.active {
  display: flex;
  opacity: 1;
}
.header .mobile-menu .mobile-menu-list {
  list-style: none;
  text-align: center;
  padding: 0;
  padding-top: 50px;
}
.header .mobile-menu .mobile-menu-list .menu-item {
  margin: 20px 0;
}
.header .mobile-menu .mobile-menu-list .menu-item a {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: rgb(12, 18, 45);
}

.main {
  position: relative;
  height: 93vh;
  display: flex;
  align-items: center;
  overflow: hidden;
  margin-bottom: 62px;
}
.main .main-content {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  padding: 0 20px;
}
.main .main-content .main-content-left {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.main .main-content .main-content-left p {
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 30px;
  color: rgb(255, 184, 0);
}
.main .main-content .main-content-left h1 {
  font-family: "Rubik", sans-serif;
  font-size: 72px;
  font-weight: 700;
  line-height: 82px;
  margin: 0;
  margin-bottom: 40px;
}
.main .main-content .main-content-left .main-content-left-text {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: rgb(97, 103, 119);
  margin-bottom: 54px;
}
.main .main-content .main-content-left .main-content-left-btn .button {
  box-shadow: 0px 10px 15px 0px rgba(27, 95, 193, 0.19);
  margin-right: 20px;
}
.main .main-content .main-content-right {
  display: flex;
  align-items: flex-end;
  height: 100%;
  width: 50%;
}
.main .main-content .main-content-right .main-content-right-photo {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.main .main-content .main-content-right .main-content-right-photo img {
  max-width: 100%;
  height: auto;
}

.service {
  margin-bottom: 133px;
}
.service .service-items {
  display: flex;
  gap: 95px;
  margin-left: 55px;
}
.service .service-items .service-item {
  max-width: 194px;
}
.service .service-items .service-item .service-item-title {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  color: rgb(12, 18, 45);
  position: relative;
  margin-bottom: 15px;
}
.service .service-items .service-item .service-item-title:before {
  content: "";
  position: absolute;
  top: 6px;
  left: -55px;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
}
.service .service-items .service-item:nth-child(1) .service-item-title:before {
  background-image: url("../img/box1.svg");
}
.service .service-items .service-item:nth-child(2) .service-item-title:before {
  background-image: url("../img/checked1.svg");
}
.service .service-items .service-item:nth-child(3) .service-item-title:before {
  background-image: url("../img/operator1.svg");
}
.service .service-items .service-item:nth-child(4) .service-item-title:before {
  background-image: url("../img/credit-card1.svg");
}
.service .service-items .service-item-text {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  color: rgb(97, 103, 119);
  max-height: 110px;
}

.articles {
  position: relative;
  margin-bottom: 80px;
}
.articles:before {
  content: "";
  position: absolute;
  top: -150px;
  left: 0;
  width: 100%;
  height: 103%;
  background-image: url("../img/Vector-arrow.svg");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: contain;
  z-index: -1;
}
.articles .article {
  display: flex;
  justify-content: space-between;
}
.articles .article .article-title {
  font-family: "Rubik", sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 50px;
  color: rgb(12, 18, 45);
  margin-bottom: 26px;
}
@media (min-width: 0px) and (max-width: 992px) {
  .articles .article .article-title {
    font-size: 28px;
    line-height: 30px;
  }
}
.articles .article .article-photo {
  width: 50%;
}
.articles .article .article-photo:nth-child(1) {
  margin-bottom: 80px;
}
.articles .article .article-photo img {
  width: 100%;
}
.articles .article .article-content {
  width: 46%;
}
.articles .article .article-content .article-text p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: rgb(97, 103, 119);
}
@media (min-width: 0px) and (max-width: 767px) {
  .articles .article .article-content .article-text p {
    font-size: 14px;
    line-height: 26px;
  }
}
.articles .article .article-content .article-text p:nth-child(1) {
  margin-bottom: 35px;
}
.articles .article .article-content .article-text p span {
  font-weight: 700;
}

.product {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}
.product .product-content-left {
  width: 50%;
  position: relative;
}
.product .product-content-left img {
  height: 100%;
  width: 100%;
}
.product .product-content-left .product-content-left-text {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 39%;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: rgb(97, 103, 119);
  color: rgb(255, 255, 255);
  background: rgb(27, 95, 193);
  padding: 60px 30px;
}
.product .product-content-rigth {
  width: 50%;
}
.product .product-content-rigth .product-content-rigth-text {
  display: flex;
}
.product .product-content-rigth .product-content-rigth-text .text-white {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: rgb(97, 103, 119);
  padding: 80px 30px 132px 30px;
}
.product .product-content-rigth .product-content-rigth-text .text-blue {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: rgb(97, 103, 119);
  color: rgb(255, 255, 255);
  background: rgb(27, 95, 193);
  padding: 80px 30px 132px 30px;
  border-top-right-radius: 20px;
}
.product .product-content-rigth .product-content-rigth-contact {
  background-color: rgb(255, 184, 0);
  padding: 45px 40px 49px 28px;
  border-bottom-right-radius: 20px;
}
.product .product-content-rigth .product-content-rigth-contact .product-content-rigth-contact-title {
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 50px;
  color: rgb(12, 18, 45);
}
.product .product-content-rigth .product-content-rigth-contact p {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: rgb(97, 103, 119);
  color: black;
  margin-bottom: 26px;
}
.product .product-content-rigth .product-content-rigth-contact .more-and-contact {
  display: flex;
}
.product .product-content-rigth .product-content-rigth-contact .more-and-contact .button-accent-blue {
  border: 1px solid rgb(27, 95, 193);
  color: rgb(27, 95, 193);
  padding: 8px 24px;
  margin-right: 40px;
}
.product .product-content-rigth .product-content-rigth-contact .more-and-contact .contactUs {
  display: flex;
  border-left: 1px solid rgb(255, 255, 255);
  padding-left: 40px;
}
.product .product-content-rigth .product-content-rigth-contact .more-and-contact .contactUs .contactUs-img {
  background-color: rgb(27, 95, 193);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 46px;
  height: 46px;
  margin-right: 13px;
}
.product .product-content-rigth .product-content-rigth-contact .more-and-contact .contactUs .contactUs-img img.svg-filter {
  filter: invert(100) brightness(100);
  width: 20px;
  height: 20px;
}
.product .product-content-rigth .product-content-rigth-contact .more-and-contact .contactUs .contactUs-content .contactUs-title {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  color: rgb(27, 95, 193);
}
.product .product-content-rigth .product-content-rigth-contact .more-and-contact .contactUs .contactUs-content .contactUs-phone a {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  text-decoration: none;
  color: black;
}

.certification {
  display: flex;
  gap: 100px;
  text-align: center;
  align-items: center;
  margin-bottom: 80px;
}
.certification .certification-title {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: rgb(97, 103, 119);
  display: flex;
}
.certification .certification-title img {
  margin-left: 16px;
}

.reasons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}
.reasons .reasons-content-left {
  width: 40%;
}
.reasons .reasons-content-left img {
  width: 100%;
}
.reasons .reasons-content-right {
  width: 57%;
}
.reasons .reasons-content-right .reasons-content-right-title {
  font-family: "Rubik", sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 50px;
  color: rgb(12, 18, 45);
  margin-bottom: 20px;
}
@media (min-width: 0px) and (max-width: 992px) {
  .reasons .reasons-content-right .reasons-content-right-title {
    font-size: 28px;
    line-height: 30px;
  }
}
.reasons .reasons-content-right p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: rgb(97, 103, 119);
  margin: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .reasons .reasons-content-right p {
    font-size: 14px;
    line-height: 26px;
  }
}
.reasons .reasons-content-right .reasons-content-right-items {
  margin-top: 35px;
  display: flex;
  flex-wrap: wrap;
  gap: 26px;
}
.reasons .reasons-content-right .reasons-content-right-items .reason-item {
  max-width: 312px;
  display: flex;
}
.reasons .reasons-content-right .reasons-content-right-items .reason-item .reason-item-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 56px;
  height: 56px;
  background: rgb(27, 95, 193);
  margin-right: 17px;
}
.reasons .reasons-content-right .reasons-content-right-items .reason-item .reason-item-icon img {
  width: 30px;
  height: 30px;
}
.reasons .reasons-content-right .reasons-content-right-items .reason-item .reason-item-content {
  max-width: 238px;
}
.reasons .reasons-content-right .reasons-content-right-items .reason-item .reason-item-content .reason-item-title {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  color: rgb(12, 18, 45);
  position: relative;
}
.reasons .reasons-content-right .reasons-content-right-items .reason-item .reason-item-content .reason-item-text {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  color: rgb(97, 103, 119);
  max-height: 110px;
}

.reviews {
  display: flex;
  margin-bottom: 90px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.reviews .review-item {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(224, 224, 224);
  border-radius: 20px;
  padding: 50px 35px;
  width: 25%;
}
.reviews .review-item .review-item-stars {
  margin-bottom: 30px;
}
.reviews .review-item .review-item-stars img {
  width: 20px;
  height: 20px;
  margin-left: -5px;
}
.reviews .review-item .review-item-text {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 35px;
  color: rgb(12, 18, 45);
  margin-bottom: 25px;
}
.reviews .review-item .review-item-user {
  display: flex;
  align-items: center;
  margin-top: auto;
}
.reviews .review-item .review-item-user .user-photo {
  background-color: gray;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
}
.reviews .review-item .review-item-user .user-info .user-info-name {
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 18px;
  font-weight: 700;
  color: rgb(12, 18, 45);
}
.reviews .review-item .review-item-user .user-info .user-info-prof {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: rgb(97, 103, 119);
}

.one-step {
  text-align: center;
  max-width: 750px;
  margin-bottom: 120px;
}
.one-step .one-step-title {
  font-family: "Rubik", sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 50px;
  color: rgb(12, 18, 45);
  margin-bottom: 20px;
}
@media (min-width: 0px) and (max-width: 992px) {
  .one-step .one-step-title {
    font-size: 28px;
    line-height: 30px;
  }
}
.one-step .one-step-text {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: rgb(97, 103, 119);
  margin-bottom: 35px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .one-step .one-step-text {
    font-size: 14px;
    line-height: 26px;
  }
}
.one-step a {
  box-shadow: 0px 10px 15px 0px rgba(27, 95, 193, 0.19);
}

.contact {
  background: rgb(255, 184, 0);
}
.contact .contact-icons {
  display: flex;
  justify-content: space-between;
  padding: 40px 0px;
}
.contact .contact-icons .contact-icon {
  display: flex;
  padding: 0 135px;
  align-items: center;
  border-right: 1px solid rgb(224, 224, 224);
}
.contact .contact-icons .contact-icon:last-child {
  border: none;
  padding-right: 0;
}
.contact .contact-icons .contact-icon:first-child {
  padding-left: 0;
}
.contact .contact-icons .contact-icon .contact-icon-img {
  margin-right: 14px;
}
.contact .contact-icons .contact-icon .contact-icon-info .contact-icon-info-title {
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  color: rgb(12, 18, 45);
}
.contact .contact-icons .contact-icon .contact-icon-info .contact-icon-info-text a {
  text-decoration: none;
  color: rgb(12, 18, 45);
}

.footer .footer-content {
  display: flex;
  justify-content: space-between;
  flex: 1;
  padding: 73px 0;
}
.footer .footer-content .footer-title {
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: rgb(12, 18, 45);
}
.footer .footer-content .footer-logo .logo {
  display: block;
  width: 161px;
  height: 40px;
  background: rgb(196, 196, 196);
  margin-bottom: 33px;
}
.footer .footer-content .footer-logo .footer-text {
  max-width: 340px;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: rgb(97, 103, 119);
}
.footer .footer-content .footer-memu .footer-memu-item .menu {
  list-style: none;
  padding: 0;
}
.footer .footer-content .footer-memu .footer-memu-item .menu .menu-item a {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: rgb(97, 103, 119);
  line-height: 29px;
}
.footer .footer-content .footer-memu .footer-memu-item .menu .menu-item.active a {
  color: rgb(27, 95, 193);
}
.footer .footer-content .footer-social .footer-social-item .social-items {
  position: relative;
  list-style: none;
  padding: 0;
}
.footer .footer-content .footer-social .footer-social-item .social-items:before {
  content: "";
  position: absolute;
  left: -35px;
  top: 8px;
  width: 30%;
  height: 100%;
  background-image: url("../img/social.svg");
  background-repeat: no-repeat;
}
.footer .footer-content .footer-social .footer-social-item .social-items .social-item a {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: rgb(97, 103, 119);
  line-height: 29px;
}
.footer .copyright {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: rgb(97, 103, 119);
  line-height: 30px;
  text-align: center;
  margin-bottom: 30px;
}

@media (min-width: 0px) and (max-width: 767px) {
  body:before {
    display: none;
  }
  body:after {
    display: none;
  }
  .container {
    width: 90%;
    margin: 0 auto;
  }
  .header .header-menu .menu {
    display: none;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
  }
  .header .header-menu .menu .menu-item {
    margin-right: 45px;
  }
  .header .header-menu .menu .menu-item a {
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: rgb(97, 103, 119);
  }
}
@media (min-width: 0px) and (max-width: 767px) and (min-width: 0px) and (max-width: 767px) {
  .header .header-menu .menu .menu-item a {
    font-size: 14px;
    line-height: 26px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .header .header-menu .menu .menu-item.active a {
    color: rgb(12, 18, 45);
  }
  .header .header-button {
    text-align: right;
    display: none;
  }
  .header .burger-menu {
    display: block;
  }
  .main {
    height: auto;
  }
  .main .main-content {
    flex-direction: column;
  }
  .main .main-content .main-content-left {
    width: 100%;
    flex-direction: column;
    margin: 60px 0;
  }
  .main .main-content .main-content-left h1 {
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 30px;
  }
  .main .main-content .main-content-right {
    width: 100%;
  }
  .main .main-content .main-content-right .main-content-right-photo {
    width: 55%;
    margin: 0 auto;
  }
  .main .main-content .main-content-right .main-content-right-photo img {
    max-width: 100%;
    height: auto;
  }
  .service .service-items {
    flex-direction: column;
    gap: 40px;
    margin-bottom: 50px;
  }
  .service .service-items .service-item {
    max-width: 100%;
  }
  .service .service-items .service-item .service-item-title {
    margin-bottom: 5px;
  }
  .articles {
    position: relative;
    margin-bottom: 60px;
  }
  .articles .article {
    flex-direction: column;
  }
  .articles .article:last-child {
    flex-direction: column-reverse;
  }
  .articles .article .article-title {
    font-family: "Rubik", sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 50px;
    color: rgb(12, 18, 45);
    margin-bottom: 26px;
  }
}
@media (min-width: 0px) and (max-width: 767px) and (min-width: 0px) and (max-width: 992px) {
  .articles .article .article-title {
    font-size: 28px;
    line-height: 30px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .articles .article .article-photo {
    width: 100%;
  }
  .articles .article .article-photo img {
    width: 100%;
  }
  .articles .article .article-photo:nth-child(2), .articles .article .article-photo:nth-child(1) {
    margin-bottom: 20px;
  }
  .articles .article .article-content {
    width: 100%;
  }
  .articles .article .article-content .article-text p {
    text-align: justify;
  }
  .articles .article .article-content .article-text p:nth-child(1) {
    margin-bottom: 25px;
  }
  .product {
    flex-direction: column;
    margin-bottom: 80px;
  }
  .product .product-content-left {
    width: 100%;
    margin-bottom: 60px;
  }
  .product .product-content-left .product-content-left-text {
    position: absolute;
    bottom: -50px;
    right: 0;
    width: 60%;
    font-size: 12px;
    line-height: 18px;
    padding: 15px;
  }
  .product .product-content-rigth {
    width: 100%;
  }
  .product .product-content-rigth .product-content-rigth-text {
    display: flex;
  }
  .product .product-content-rigth .product-content-rigth-text .text-white {
    padding: 30px 10px 50px 10px;
  }
  .product .product-content-rigth .product-content-rigth-text .text-blue {
    padding: 30px 10px 50px 10px;
  }
  .product .product-content-rigth .product-content-rigth-contact {
    padding: 15px 28px 49px 28px;
  }
  .product .product-content-rigth .product-content-rigth-contact .product-content-rigth-contact-title {
    line-height: 30px;
  }
  .product .product-content-rigth .product-content-rigth-contact p {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: rgb(97, 103, 119);
    color: black;
    text-align: justify;
  }
  .product .product-content-rigth .product-content-rigth-contact .more-and-contact {
    flex-direction: column;
  }
  .product .product-content-rigth .product-content-rigth-contact .more-and-contact .button-accent-blue {
    margin: auto;
    margin-bottom: 20px;
  }
  .product .product-content-rigth .product-content-rigth-contact .more-and-contact .contactUs {
    border-left: none;
    padding-left: 0;
  }
  .product .product-content-rigth .product-content-rigth-contact .more-and-contact .contactUs .contactUs-content .contactUs-phone a {
    font-size: 20px;
  }
  .certification {
    flex-direction: column;
    gap: 40px;
    margin-bottom: 50px;
  }
  .reasons {
    flex-direction: column;
    margin-bottom: 60px;
  }
  .reasons .reasons-content-left {
    width: 100%;
    margin-bottom: 20px;
  }
  .reasons .reasons-content-left img {
    width: 100%;
  }
  .reasons .reasons-content-right {
    width: 100%;
  }
  .reasons .reasons-content-right .reasons-content-right-items .reason-item .reason-item-content .reason-item-title {
    font-size: 18px;
  }
  .reasons .reasons-content-right .reasons-content-right-items .reason-item .reason-item-content .reason-item-text {
    font-size: 14px;
  }
  .reviews {
    flex-direction: column;
    margin-bottom: 60px;
  }
  .reviews .review-item {
    padding: 40px 25px;
    width: 80%;
    margin-bottom: 30px;
  }
  .reviews .review-item .review-item-stars {
    margin-bottom: 20px;
  }
  .reviews .review-item .review-item-text {
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 25px;
  }
  .one-step {
    margin-bottom: 80px;
  }
  .contact {
    background: rgb(255, 184, 0);
  }
  .contact .contact-icons {
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    padding: 40px 0px;
  }
  .contact .contact-icons .contact-icon {
    padding: 0;
    border-right: none;
    margin-bottom: 20px;
  }
  .footer .footer-content {
    flex-direction: column;
    padding: 43px 0;
  }
  .footer .footer-content .footer-title {
    font-size: 18px;
  }
  .footer .footer-content .footer-logo .footer-text {
    margin-bottom: 30px;
  }
  .footer .footer-content .footer-social .footer-social-item .social-items {
    margin-left: 35px;
  }
  .footer .copyright {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: rgb(97, 103, 119);
    line-height: 30px;
    text-align: center;
    margin-bottom: 30px;
  }
}
@media (min-width: 401px) {
  .footer .footer-content {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
  }
  .footer .footer-content .footer-logo {
    width: 100%;
  }
  .footer .footer-content .footer-logo .footer-text {
    max-width: 100%;
  }
  .footer .footer-content .footer-memu {
    width: 40%;
  }
  .footer .footer-content .footer-social {
    width: 40%;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .reasons .reasons-content-right .reasons-content-right-items .reason-item .reason-item-content {
    max-width: 180px;
  }
  .reviews {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .reviews .review-item {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  body {
    margin: 0;
  }
  body:before {
    width: 55%;
    max-height: 690px;
  }
  body:after {
    width: 55%;
    max-height: 690px;
  }
  .container {
    width: 90%;
  }
  .button,
  .button-accent {
    padding: 10px 20px;
  }
  .header .header-menu .menu .menu-item {
    margin-right: 20px;
  }
  .main {
    max-height: 690px;
  }
  .main .main-content {
    align-items: center;
  }
  .main .main-content .main-content-left {
    width: 40%;
  }
  .main .main-content .main-content-left h1 {
    font-size: 50px;
    line-height: 55px;
  }
  .main .main-content .main-content-right {
    width: 55%;
    height: auto;
  }
  .main .main-content .main-content-right .main-content-right-photo {
    width: 65%;
    display: flex;
    margin-left: 10%;
  }
  .service {
    margin-bottom: 80px;
  }
  .service .service-items {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px 115px;
  }
  .service .service-items .service-item {
    max-width: 40%;
  }
  .service .service-items .service-item .service-item-title {
    margin-bottom: 5px;
  }
  .articles .article {
    flex-direction: row;
    width: 100%;
  }
  .articles .article .article-title {
    margin-bottom: 10px;
  }
  .articles .article .article-photo {
    max-width: 45%;
    margin: auto;
  }
  .articles .article .article-photo:nth-child(1) {
    margin: auto;
  }
  .articles .article .article-content {
    width: 50%;
  }
  .articles .article .article-content .article-text p {
    margin-top: 0;
    line-height: 25px;
  }
  .articles .article .article-content .article-text p:nth-child(1) {
    margin-bottom: 10px;
  }
  .product {
    flex-direction: column;
    margin-bottom: 80px;
  }
  .product .product-content-left {
    width: 100%;
    margin-bottom: 40px;
  }
  .product .product-content-left .product-content-left-text {
    width: 50%;
    bottom: 4px;
  }
  .product .product-content-rigth {
    width: 100%;
  }
  .product .product-content-rigth .product-content-rigth-contact .more-and-contact {
    flex-direction: row;
  }
  .certification {
    flex-direction: row;
    gap: 30px;
    margin-bottom: 50px;
  }
  .certification .certification-item img {
    width: 80%;
  }
  .reasons {
    flex-direction: row;
  }
  .reasons .reasons-content-left {
    display: none;
  }
  .reasons .reasons-content-right {
    width: 100%;
  }
  .reasons .reasons-content-right .reasons-content-right-items {
    gap: 30px 60px;
  }
  .reasons .reasons-content-right .reasons-content-right-items .reason-item {
    max-width: 100%;
  }
  .reasons .reasons-content-right .reasons-content-right-items .reason-item .reason-item-content {
    width: 100%;
  }
  .reasons .reasons-content-right .reasons-content-right-items .reason-item .reason-item-content .reason-item-title {
    font-size: 18px;
  }
  .reasons .reasons-content-right .reasons-content-right-items .reason-item .reason-item-content .reason-item-text {
    font-size: 14px;
  }
  .reviews {
    flex-direction: column;
    margin-bottom: 60px;
  }
  .reviews .review-item {
    width: 92%;
    margin-bottom: 20px;
  }
  .reviews .review-item .review-item-stars {
    margin-bottom: 20px;
  }
  .reviews .review-item .review-item-text {
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 25px;
  }
  .contact .contact-icons .contact-icon {
    padding: 0 30px;
  }
  .contact .contact-icons .contact-icon .contact-icon-img {
    margin-right: 14px;
  }
  .contact .contact-icons .contact-icon .contact-icon-info .contact-icon-info-title {
    font-family: "Rubik", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    color: rgb(12, 18, 45);
  }
  .contact .contact-icons .contact-icon .contact-icon-info .contact-icon-info-text a {
    text-decoration: none;
    color: rgb(12, 18, 45);
  }
  .footer .footer-content {
    flex-wrap: nowrap;
  }
  .footer .footer-content .footer-logo .footer-text {
    max-width: 340px;
  }
  .footer .footer-content .footer-memu {
    margin-right: 40px;
  }
}
@media (min-width: 992px) and (max-width: 1140px) {
  body {
    margin: 0;
  }
  body:before {
    width: 55%;
    max-height: 891px;
  }
  body:after {
    width: 55%;
    max-height: 891px;
  }
  .container {
    width: 90%;
  }
  .header .header-menu .menu .menu-item {
    margin-right: 50px;
  }
  .main {
    max-height: 891px;
  }
  .main .main-content {
    height: auto;
  }
  .main .main-content .main-content-left {
    width: 40%;
  }
  .main .main-content .main-content-left h1 {
    font-size: 50px;
    line-height: 55px;
  }
  .main .main-content .main-content-right {
    width: 55%;
  }
  .main .main-content .main-content-right .main-content-right-photo {
    width: 65%;
    display: flex;
    margin-left: 10%;
  }
  .service {
    margin-bottom: 80px;
  }
  .service .service-items {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px 115px;
  }
  .service .service-items .service-item {
    max-width: 40%;
  }
  .service .service-items .service-item .service-item-title {
    margin-bottom: 5px;
  }
  .articles .article {
    flex-direction: column;
    width: 100%;
  }
  .articles .article:last-child {
    flex-direction: column-reverse;
  }
  .articles .article .article-photo {
    max-width: 100%;
    margin: 0 auto;
  }
  .articles .article .article-photo:nth-child(2), .articles .article .article-photo:nth-child(1) {
    margin-bottom: 30px;
  }
  .articles .article .article-photo img {
    width: 100%;
    display: block;
    height: auto;
  }
  .articles .article .article-content {
    width: 100%;
  }
  .articles .article .article-content .article-text p {
    margin-top: 0;
  }
  .product {
    flex-direction: column;
    margin-bottom: 80px;
  }
  .product .product-content-left {
    width: 100%;
    margin-bottom: 40px;
  }
  .product .product-content-left .product-content-left-text {
    width: 50%;
    bottom: 4px;
  }
  .product .product-content-rigth {
    width: 100%;
  }
  .product .product-content-rigth .product-content-rigth-contact .more-and-contact {
    flex-direction: row;
  }
  .certification {
    flex-direction: row;
    gap: 30px;
    margin-bottom: 50px;
  }
  .certification .certification-item img {
    width: 80%;
  }
  .reasons {
    flex-direction: column;
  }
  .reasons .reasons-content-left {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .reasons .reasons-content-left img {
    width: 100%;
  }
  .reasons .reasons-content-right {
    width: 100%;
  }
  .reasons .reasons-content-right .reasons-content-right-items {
    gap: 26px 180px;
  }
  .reasons .reasons-content-right .reasons-content-right-items .reason-item .reason-item-content .reason-item-title {
    font-size: 18px;
  }
  .reasons .reasons-content-right .reasons-content-right-items .reason-item .reason-item-content .reason-item-text {
    font-size: 14px;
  }
  .reviews {
    flex-direction: row;
    margin-bottom: 60px;
  }
  .reviews .review-item {
    width: 25%;
    padding: 45px 30px;
  }
  .reviews .review-item .review-item-stars {
    margin-bottom: 20px;
  }
  .reviews .review-item .review-item-text {
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 25px;
  }
  .contact .contact-icons .contact-icon {
    padding: 0 70px;
  }
  .footer .footer-content {
    flex-wrap: nowrap;
  }
  .footer .footer-content .footer-logo .footer-text {
    max-width: 340px;
  }
  .footer .footer-content .footer-memu {
    margin-right: 40px;
  }
}